* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: var(--body-style);
	color: rgb(160, 160, 160);
	
}
:root {
	--bg-color: #313131;
	--text-color: #686E7A;
	--main-color: #2AA3D2; 
	--big-font: 6rem;
	--p-font: 1.3rem;
}
body {
	background-color: var(--bg-color);
	color: var(--text-color);
}
.head {
	position: fixed;
	top: 0;
	display: flex;
	padding: 1.5em;
	width: 100%;
	justify-content: space-between;
	background-color: var(--bg-color);
}
.navbar {
	display: flex;
	gap: 2.5em;
}
.navbar a {
	font-size: 24px;
	color: var(--text-color);
}
.navbar a:hover, .navbar .colored2 {
	color: var(--main-color);
}
.navbar a:hover {
	font-size: 25px;
}
.navbar > li > a{
	font-family: "Urbanist", sans-serif;
}

.logga {
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
}
span {
	color: var(--main-color);
}
.placering {
	display: grid;
	grid-template-columns: 1fr minmax(100px, 1fr) minmax(100px, 1fr);
	gap: 2em;
	margin: 6em 1em 4em 1em;
}
.placering >*{
	padding: 1rem;
}


.span2 {
	grid-column: span 2;
	min-width: 10rem;
	max-height: 30rem;
	border-radius: 2em;
	box-shadow: 3px 3px 10px  #242424;
	color: rgb(194, 191, 191);
	background-color:#424242; 
}

.span2 > p{
	font-family: "Urbanist", sans-serif;
	font-weight: 500;
}

.bild-dekoration {
	border-radius: 2em;
	box-shadow: 2px 3px 10px #242424;
}

.product-textlink {
	text-decoration: underline;
	color: var(--main-color);
}

.skapare-webbsida{
	font-size: 20px;
	font-family: "Raleway", sans-serif;
}

.skaparna {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 2em;
	margin-top: 1em;
	margin-bottom: 4em;
	margin-left: 1em;
	margin-right: 1em;
	background-color: #535353;
	padding: 1.5em;
	border-radius: 2em;
}
.skaparna >* {
	text-align: center;
}
.skaparna > .text{
	font-family: "Urbanist", sans-serif;
	color: rgb(194, 191, 191);
	border-radius: 2em;
}
.blå-text span{
	color: var(--main-color);
}
.skaparna-img > img {
	border-radius: 50%;
}
.skapare-webbsida {
	text-align: center;
}

@media screen and (max-width: 768px) {
	.placering {
		grid-template-columns: minmax(300px, 1fr);
	}
	.placering > div:nth-child(3){
		grid-row: 4;
	}
	.placering > div > img{
		width: 90vw;
		height: auto;
	}
	.span2{
		width: 90vw;
		height: auto;
	}
	.skaparna {
		grid-template-columns: 1fr 1fr;
		align-items: center;
	}
	.skaparna-img{
		grid-column: 1;
	}

	.text:nth-child(6){
		grid-column: 2;
		grid-row-start: 1;
	}
	.text:nth-child(7){
		grid-column: 2;
		grid-row-start: 2;
	}
	.text:nth-child(8){
		grid-column: 2;
		grid-row-start: 3;
		}
	.text:nth-child(9){
			grid-column: 2;
			grid-row-start: 4;
		}
	.text:nth-child(10){
			grid-column: 2;
			grid-row-start: 5;
		}
}

/* Footer css */
.containerf {
	background-color: rgb(27, 29, 32);
	display: flex;

	flex-wrap: wrap;
	justify-content: space-around;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px;
}

.footer-col {
	flex: 1;
	max-width: 6;
	margin: 5px;
	text-align: center;
}

.list {
	color: #686E7A;
	line-height: 30px;
	font-weight: bold;
}

.h4 {
	margin-bottom: 3px;
	color: #686E7A;
	font-style: oblique;
	font-size: larger;

}

@media screen and (max-width: 768px) {

	.containerf {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		align-items: center;
	}

	.footer-col {
		max-width: 100%;
		text-align: center;
	}
}

#menu-toggle{
	display:none;
}

@media(max-width: 480px) {
    .head {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 20vh;
        position: fixed;
        top: 0;
        background-color: var(--bg-color);
    }

    .menu li {
        margin-top: 40px;
    }

    .menu li a {
        padding: 10px;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    #check:checked ~ .menu {
        right: 0;
    }
}